.friend {
  border: 3px solid grey;
  background: white;
  color: black;
  width: 470px;
  height: 500px;
  margin: 30px;
  opacity: 00.6;
  font-size: 30px;
  margin-right: 300px;
}
.friends-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
