.App {
  text-align: center;
}

.title {
  font-size: 3em;
  font-family: "Pacifico", cursive;
}
.card-title {
  font-family: "Pacifico", cursive;
}

.App-intro {
  font-size: large;
}
.penpal-cards {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.penpal-cards:hover {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
