.App {
  text-align: center;
}

.title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}
.penpal-cards {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
.penpal-cards:hover {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}
